* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** navbar *****/
.navbar {
    padding: 1.5em 0;
}

/* navbar logo */
.navbar-brand {
    border: 0.1em solid black;
    padding: 0.2em 1em;
}

.blue-bar {
    border-top: 0.4em solid #0085bf;
    width: 100%;
}

/***** title image *****/
.title-img {
    background-image: url('/images/running2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2em;
    height: 80vh;
    width: 100%;
}

.title-img {
    object-fit: contain;
    object-position: center;
    height: 80vh;
    width: 100%;
}

/***** second navbar *****/
.second-navbar {
    background-color: #fff;
    padding: 1em 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1001;
}

/* Navbar links */
.second-navbar a {
    float: left;
    display: block;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* active second navbar */
.active-sec {
    color: rgba(0, 0, 0, .9) !important;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/***** bullet points *****/
.editing ul {
    line-height: 3;
}

.editing h3 {
    font-weight: bold;
}

.before-after-img {
    background-image: url('/images/run-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/***** footer *****/
.blue-stripe-footer {
    color: #fff;
    background-color: #0085bf;
}

footer {
    border-bottom: 0.5em solid #0085bf;
}

@media (max-width: 43em) {
    .text-size {
        font-size: 1em;
    }

    .price-size {
        font-size: 0.8em;
    }

    .button-size {
        font-size: 0.8em;
    }

    .editing h3 {
        font-size: 1.2em;
    }

    .editing ul {
        line-height: 2;
        font-size: 0.8em;
    }

    .before-after-img {
        height: 60vh;
    }
}

@media (min-width: 43em) and (max-width: 62em) {
    .text-size {
        font-size: 1.6em;
    }

    .price-size {
        font-size: 1em;
    }

    .button-size {
        font-size: 1em;
    }

    .editing ul {
        line-height: 2;
    }

    .before-after-img {
        height: 80vh;
    }
}