* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  margin: 0 auto;
  overflow-x: hidden;
}

body.show-nav {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar ul {
  list-style-type: none;
  position: fixed;
  display: block;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  padding: 3em 0em;
  background-color: #8FC5AE;
  font-size: 150%;
}

.navbar li {
  padding: 1em;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  color: #E7724A;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.navbar .main-logo {
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0.4em;
  left: 1.25em;
  z-index: 9999;
}

header {
  background-color: #378966;
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 4em 1em;
  text-align: center;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
}

header .toggle {
  background-color: #8FC5AE;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  cursor: pointer;
  padding: 0.7em 0.9em;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
}

header .toggle:focus {
  outline: none;
}

header p {
  margin: 2em auto;
  line-height: 1.5;
}

header .header-items img {
  display: none;
}

.showcase__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1em;
}

.showcase__content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase__content .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  height: 100vh;
  width: 100%;
}

.showcase__content .article .image {
  position: relative;
  width: 100%;
  padding: 2em;
}

.showcase__content .article .image img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0.3em 0.3em 0.7em #378966;
          box-shadow: 0.3em 0.3em 0.7em #378966;
}

.showcase__content .article .image::after {
  content: "";
  height: 20em;
  width: 28em;
  position: absolute;
  bottom: 0em;
  right: 0em;
}

.showcase__content .article .text {
  line-height: 1.5;
  font-size: 1em;
  width: 80%;
}

.showcase__content .article .text p {
  margin: 1em 0;
  position: relative;
  z-index: 1;
}

.showcase__content .article .text p span {
  padding: 1em 0;
}

.showcase__content .article .text p::after {
  content: "";
  height: 4em;
  width: 15em;
  background-color: #8FC5AE;
  position: absolute;
  bottom: -1em;
  right: 0em;
  z-index: -1;
}

.showcase__content .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
  height: 25vh;
  padding: 2em;
  font-size: 1em;
  line-height: 1.5;
}

.showcase__content .fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.showcase__content .fade-in.appear {
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20em;
  background-color: black;
  color: #fff;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container .modal {
  background-color: #fff;
  border-radius: .4em;
  -webkit-box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30em;
  max-width: 100%;
  max-height: 100%;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.modal-container .modal-title {
  background-color: #378966;
  color: #fff;
  padding: 1em;
  border-bottom: 0.1em solid #8FC5AE;
  border-radius: 0.4em;
}

.modal-container .modal-body {
  padding: 1.6em;
}

.modal-container .modal-body p {
  line-height: 1.5;
}

.modal-container .close-btn {
  background: transparent;
  font-size: 2em;
  position: absolute;
  top: 0.25em;
  right: 0.3em;
  border: none;
  color: #8FC5AE;
}

.modal-container .close-btn:hover {
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-container.show-modal {
  display: block;
}

.articles-container {
  max-width: 80em;
  width: 100%;
  margin: 0 auto;
}

.articles-container .articles-content {
  padding: 1em;
}

.articles-container .articles-content .article {
  margin: 1em 0;
  -webkit-box-shadow: 0 0 2px #333;
          box-shadow: 0 0 2px #333;
  border-radius: 5px;
}

.articles-container .articles-content .article .title {
  padding: 1em 2em 0;
  color: #333;
}

.articles-container .articles-content .article .body {
  padding: 1em 3em;
  line-height: 1.5;
  margin: 0 auto;
}

.articles-container .article:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  padding: 3em;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.showcase-gallary {
  width: 100%;
  max-width: 80em;
  margin: 1em 0;
}

.showcase-gallary .three-piece {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(375px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  justify-items: center;
}

.showcase-gallary .four-piece {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(375px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  justify-items: center;
}

.showcase-gallary .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 1em;
}

.showcase-gallary .fade-in {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.showcase-gallary .fade-in.appear {
  opacity: 1;
}

.showcase-gallary img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
}

.showcase-gallary img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 9999;
}

@media (min-width: 43em) {
  .showcase__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1em;
  }
  .showcase__content .article .text {
    font-size: 1.3em;
  }
  .showcase__content .article .text p {
    margin: 1em 0;
    position: relative;
    z-index: 1;
  }
  .showcase__content .article .text p span {
    padding: 1em 0;
  }
  .showcase__content .article .text p::after {
    content: "";
    height: 5em;
    width: 20em;
    background-color: #8FC5AE;
    position: absolute;
    bottom: -1em;
    right: 0em;
    z-index: -1;
  }
  .showcase__content .quote {
    font-size: 1.4em;
  }
  .showcase-gallary {
    margin-top: 1em;
  }
  .showcase-gallary .three-piece {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;
  }
  .showcase-gallary .two-piece {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;
    margin: 1em 0;
  }
  .showcase-gallary img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (min-width: 62em) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar ul {
    position: absolute;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 0;
    font-size: 1em;
    padding: 1em 0em;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    top: 1em;
    right: 2em;
    background-color: #378966;
  }
  .navbar li {
    padding: 1.25em;
    text-align: center;
  }
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  .navbar a:hover {
    color: #E7724A;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .navbar .main-logo {
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    left: 3em;
  }
  header {
    padding: 0em 4em;
  }
  header .header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-items .header-text {
    padding: 10em 0;
    color: #fff;
    width: 50%;
  }
  header .toggle {
    display: none;
  }
  header .header-items img {
    display: block;
    height: 25%;
    width: 25%;
  }
  .showcase {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
  }
  .showcase__content .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showcase__content .article .text {
    line-height: 1.5;
    font-size: 1.4em;
    width: 80%;
  }
  .showcase__content .article .text p {
    margin: 1em 0;
    position: relative;
    z-index: 1;
  }
  .showcase__content .article .text p span {
    padding: 1em 0;
  }
  .showcase__content .article .text p::after {
    content: "";
    height: 5em;
    width: 15em;
    background-color: #8FC5AE;
    position: absolute;
    bottom: -1em;
    right: 0em;
    z-index: -1;
  }
  .showcase__content .quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: #fff;
    height: 25vh;
    padding: 2em;
    font-size: 2em;
  }
  .showcase-gallary {
    margin: 0 auto;
    max-width: 80em;
    width: 100%;
  }
  .showcase-gallary .three-piece {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(375px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    justify-items: center;
  }
  .showcase-gallary .four-piece {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .showcase-gallary .image-container {
    position: relative;
  }
  .showcase-gallary img {
    width: 375px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
