* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***** navbar *****/
.navbar {
    padding: 1.5em 0;
}

/* navbar logo */
.navbar-brand {
    border: 0.1em solid black;
    padding: 0.2em 1em;
}

.blue-bar {
    border-top: 0.4em solid #0085bf;
    width: 100%;
}

/***** title image *****/
.title-img {
    background-image: url('/images/title-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100%;
}

/***** second navbar *****/
.second-navbar {
    background-color: #fff;
    padding: 1em 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    z-index: 1001;
}

/* Navbar links */
.second-navbar a {
    float: left;
    display: block;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* active second navbar */
.active-sec {
    color: rgba(0, 0, 0, .9) !important;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/***** carousel ******/
.carousel {
    width: 100%;
    margin: 0 auto;
}

.carousel-item img {
    height: 94.5vh;
}

/***** footer *****/
.blue-stripe-footer {
    color: #fff;
    background-color: #0085bf;
}

footer {
    border-bottom: 0.5em solid #0085bf;
}

@media (max-width: 43em) {

    /***** Jumbotron *****/
    .text-size h1 {
        font-size: 1.6em;
        font-weight: bold;
    }

    .text-size p {
        font-size: 1em;
    }

    .text-size a {
        font-size: 1em;
    }
}

@media (min-width: 43em) and (max-width: 62em) {

    /***** Jumbotron *****/
    .text-size h1 {
        font-size: 2em;
        font-weight: bold;
    }

    .text-size p {
        font-size: 1.2em;
    }

    .text-size a {
        font-size: 1.2em;
    }
}