* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .navbar {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  background-color: #ccc;
}

header .navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar li {
  padding: 0 1em;
}

header .navbar .logo {
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

header a {
  text-decoration: none;
  color: #378966;
}

header a:hover {
  color: #8FC5AE;
}

.showcase__content {
  background-color: #378966;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

.showcase__content .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  background-color: #8FC5AE;
  padding: 2em;
  height: 100vh;
}

.showcase__content .article img {
  width: 100%;
  padding: 0 2em;
}

.showcase__content .article .image {
  width: 100%;
  padding: 2em 0;
  background-image: url("../images/01-startseite/first_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.showcase__content .article .text {
  line-height: 1.5;
  font-size: 0.8em;
}

.showcase__content .article p {
  margin: 1em 0;
}

.showcase__content .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #5CA586;
  height: 25vh;
  padding: 2em;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 43em) {
  .navbar {
    background-color: #333 !important;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 62em) {
  .navbar {
    background-color: #000 !important;
  }
}
