$primary-color: #378966;
$secondary-color: #8FC5AE;
$tertiary-color: #5CA586;
$quaternary-color: #1F714E;
$quinary-color: #085333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Set text color based on bg
@function set-text-color($color) {
    @if(lightness($color) > 70) {
        @return #333;
    }

    @else {
        @return #fff;
    }
}

// Set background & text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
}