@media (min-width: 62em) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            position: absolute;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            height: 0;
            font-size: 1em;
            padding: 1em 0em;
            transform: translateX(0);
            width: 100%;
            top: 1em;

            background-color: $primary-color;
        }

        li {
            padding: 1.25em;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            color: $quinary-color;
        }

        .main-logo {
            background-image: url("../images/logo.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 64px;
            height: 64px;

        }
    }

    header {
        padding: 0em 4em;

        .header-items {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .header-text {
                padding: 10em 0;
                color: #fff;
                width: 50%;
            }
        }

        .toggle {
            display: none;
        }
    }

    .showcase-gallary {

        margin-top: 1em;

        .three-piece {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1em;
            justify-items: center;
        }

        .two-piece {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
            justify-items: center;
            margin: 1em 0;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}