.showcase-gallary {

    width: 100%;
    max-width: 80em;

    .three-piece {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .four-piece {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .image-container:hover {}

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        padding: 1em;
    }
}