.showcase-gallary {
  width: 100%;
  max-width: 80em;
  margin: 1em 0;

  .three-piece {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    justify-items: center;
  }

  .four-piece {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    justify-items: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1em;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: 0 0 5px #333;
  }

  img:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 9999;
  }
}
